{% extends 'base.html' %}

{% block title %}Edit Tag{% endblock %}

{% block content %}

  <h1>Edit a tag</h1>

  <form method="POST" action="/tags/{{ tag.id }}/edit">

    <div>
      <label for="name">
        Name
      </label>
      <div>
        <input
            id="name"
            name="name"
            placeholder="Enter a name for the tag"
            value="{{ tag.name }}">
      </div>
    </div>

      <div>
        <a href="/tags">Cancel</a>
        <button type="submit">Edit Tag</button>
      </div>


      <button formaction="/tags/{{ tag.id }}/delete" formmethod="POST">Delete Tag
      </button>

  </form>



{% endblock %}
