{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}

{% block content %}

<h1>Add Post for {{ user.full_name }}</h1>

<form method="POST">

  <div>
    <label for="post_title">Title</label>
    <div>
      <input
        id="post_title"
        name="post_title"
      >
    </div>
  </div>

  <div>
    <label for="post_content">Post Content</label>
    <div>
      <textarea
        id="post_content"
        name="post_content"
      ></textarea>
    </div>
  </div>

  <div>
    <label for="post_blurb">Post Blurb</label>
    <div>
      <textarea
        id="post_blurb"
        name="post_blurb"
      >
      </textarea>
    </div>
  </div>

  <div>
    {% for tag in tags %}
      <div>
        <input type="checkbox"
               value="{{ tag.id }}"
               id="tag_{{ tag.id }}"
               name="tags">
        <label for="tag_{{ tag.id }}">
          {{ tag.name }}
        </label>
      </div>
    {% endfor %}
  </div>

  <div>
    <div>
      <a href="/users/{{ user.id }}">Cancel</a>
      <button type="submit">Add Post</button>
    </div>
  </div>

</form>


{% endblock %}