{% extends 'base.html' %}

{% block title %}Collablog{% endblock %}

{% block content %}

  <h1>Collablog Recent Posts</h1>

  {% for post in posts %}
    <h2>
      <a href="/posts/{{ post.id }}">{{ post.title }}</a>
    </h2>
    <p>{{ post.blurb }}</p>
    <p>By {{ post.user.full_name }} on {{ post.formatted_date }}</p>
    {% if post.tags %}
      <p>
        <b>Tags:</b>
        {% for tag in post.tags %}
        <a href="/tags/{{ tag.id }}">{{ tag.name }}</a>
        {% endfor %}
      </p>
    {% endif %}
  {% endfor %}

{% endblock %}