{% extends 'base.html' %}

{% block title %}{{ user.full_name }} {% endblock %}

{% block content %}

<div>
  <img src="{{ user.image_url }}" alt="{{ user.full_name }}">
</div>

<div>
  <h1>{{ user.full_name }}</h1>
  <h3>About</h3>
  <p>{{ user.about }}</p>

  <form>
    <button
      formaction="/users/{{ user.id }}/edit"
      formmethod="GET">Edit Profile
    </button>

    <button
      formaction="/users/{{ user.id }}/delete"
      formmethod="POST">Delete Profile
    </button>

  </form>
</div>

{% endblock %}